# Enforce LF endings for all relevant files
* text=auto eol=lf

# Specific overrides
*.sh     text eol=lf
*.py     text eol=lf
*.md     text eol=lf
*.yaml   text eol=lf
*.yml    text eol=lf
*.json   text eol=lf
*.launch text eol=lf
*.world  text eol=lf
*.txt    text eol=lf
